apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: auth-platform
type: Opaque
stringData:
  POSTGRES_DB: keycloak
  POSTGRES_USER: keycloak
  POSTGRES_PASSWORD: keycloak_password
