apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: auth-platform
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/part-of: auth-platform
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app.kubernetes.io/name: postgres
